# Puerto donde correrá la API (Ej: 3000, 3003)
PORT=3003

# Modo del servidor (development | production)
NODE_ENV="development"

# Clave secreta para firmar tokens JWT (Usa una cadena larga y aleatoria en producción)
JWT_SECRET="TU_SECRETO_SUPER_SEGURO_PARA_JWT"

# Duración de expiración del Token (Ej: 1h, 7d, 30m)
JWT_EXPIRES_IN="1h"

# API Key oficial de Google Gemini (Debe iniciar con AIzaSy...)
GEMINI_API_KEY="AIzaSy_TU_CLAVE_DE_GEMINI_AQUI"

# URL de conexión usada por Prisma ORM
DATABASE_URL="postgresql://mi_usuario:mi_password@localhost:5432/medreason_ai?schema=public"

# Variables para levantar el contenedor Docker de PostgreSQL
POSTGRES_USER=mi_usuario
POSTGRES_PASSWORD=mi_password
POSTGRES_DB=medreason_ai

# Credenciales del panel de Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin_password

# Variables del almacenador de logs (MinIO / Loki)
MINIO_ROOT_USER=loki
MINIO_ROOT_PASSWORD=supersecret
MINIO_PROMETHEUS_AUTH_TYPE=public
