# Puerto donde correrá la API Backend
PORT=3006

# URL de conexión a la base de datos PostgreSQL local o remota
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/medreason_ai?schema=public"

# Clave secreta para firmar y verificar los tokens JWT
JWT_SECRET="coloca_aqui_un_secreto_super_seguro_de_produccion"

# Duracion De Token
JWT_EXPIRES_IN=1h

# API Key para Google Gemini 2.5
GEMINI_API_KEY="coloca_aqui_tu_google_gemini_api_key"

